
.idea/workspace.xml
Project/Python/__pycache__/dataset.cpython-38.pyc
Project/Python/__pycache__/elechydro.cpython-38.pyc
Project/Python/__pycache__/plots.cpython-38.pyc
.idea/.name
.idea/workspace.xml
Project/Python/__pycache__/elechydro.cpython-38.pyc
Project/Python/__pycache__/plots.cpython-38.pyc
Project/Python/__pycache__/elechydro.cpython-38.pyc
Project/Python/__pycache__/plots.cpython-38.pyc
.idea/workspace.xml
Project/Python/plots/profit_PeakShaving_3d/elec_capVSrevenueVShydrogenPrice_3d.eps
Project/Diagrams/Algorithm.pdf
Project/Python/__pycache__/elechydro.cpython-38.pyc
Project/Python/__pycache__/plots.cpython-38.pyc
